name: Terraform CI

on:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: envs/dev
        run: terraform init

      - name: Terraform Plan
        working-directory: envs/dev
        run: terraform plan

      - name: Terraform Apply
        working-directory: envs/dev
        run: terraform apply -auto-approve
